<!DOCTYPE HTML>
<html>
<head>
	<title>Project_nodeMCU_RPI3_Flask</title>
<body>
	<div style='width: 300px; margin: auto; text-align: center;'>
	<h2>Button</h2>
	<p>
		<a href=/iot/21400670/led><button>LED</button></a>
	</p>
	<p>
		<a href=/iot/21400670/ledon><button>LED On </button></a>
		<a href=/iot/21400670/ledoff><button>LED Off </button></a><br/>
	</p>
	<p>
		<a href=/iot/21400670/usbled><button>USBLED</button></a>
	</p>
	<p>
		<a href=/iot/21400670/usbledon><button>USBLED On </button></a>
		<a href=/iot/21400670/usbledoff><button>USBLED Off </button></a><br/>
	</p>
	<p>
		<a href=/iot/21400670/dht22><button>DHT22</button></a>
		<a href=/iot/21400670/dht22_t><button>check Temperature</button></a>
		<a href=/iot/21400670/dht22_h><button>check humidity</button></a>
	</p>
	<p>
		<a href=/iot/21400670/cds><button>Check cds</button></a>
	</p>
	<p>
		<a href=/iot/21400670/pir><button>Check pir</button></a>
	</p> 
	</div> 
</body> 
</html>

